.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.header p {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.material-symbols-outlined {
  line-height: 1;
}

.material-symbols-outlined:hover {
  cursor: pointer;
}