<div class="dashboard-container">
  <aside>
    <app-sidebar></app-sidebar>
  </aside>
  <article class="main-content">
    @if (selectedPortfolio) {
    <div class="summary-content">
      <div class="header">
        <h2>{{ selectedPortfolio.portfolioName }}</h2>
        @if (isEditingDescription) {
        <input
          type="text"
          [(ngModel)]="editedDescription"
          (blur)="saveDescription()"
          (keydown.enter)="saveDescription()"
          (keydown.escape)="cancelEditing()"
          class="edit-description-input"
          autofocus
        />
        } @else {
        <p>
          {{ selectedPortfolio.description }}
          <span class="material-symbols-outlined" (click)="startEditingDescription()"> edit </span>
        </p>
        }
      </div>
    </div>

    @if (selectedPortfolio) {
    <app-portfolio-summary></app-portfolio-summary>
    }

    <div class="transactions-content">
      <app-transaction-panel></app-transaction-panel>
    </div>
    } @else{
    <div class="portfolio-not-found">
      <p>Please select or create a portfolio!</p>
    </div>
    }
  </article>
</div>
