<div>
  <div class="add-transaction-btn">
    <button (click)="onNewTransaction()">
      <span class="material-symbols-outlined"> add </span>New transaction
    </button>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="title">Title</th>
          <th class="description">Description</th>
          <th class="amount">Amount</th>
          <th>Type</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (tx of transactions$ | async; track tx.id) {
        <tr>
          <td class="title" [title]="tx.title">{{ tx.title }}</td>
          <td class="description" [title]="tx.description">{{ tx.description }}</td>
          <td
            class="amount"
            [class.income]="tx.type === 'income'"
            [class.expense]="tx.type === 'expense'"
          >
            {{ tx.amount | currency }}
          </td>
          <td>{{ tx.type }}</td>
          <td>{{ tx.date | date : 'shortDate' }}</td>
          <td>
            <button (click)="onEdit(tx)">Edit</button>
            <button (click)="onDelete(tx.id)">Delete</button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="6">No transactions found</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
