<div class="sidebar-item" (click)="selectPortfolio()">
  @if (isEditing()) {
  <input
    type="text"
    [(ngModel)]="editedName"
    (blur)="saveEdit()"
    (keydown.enter)="saveEdit()"
    (keydown.escape)="cancelEdit()"
    class="edit-input"
    autofocus
  />
  } @else {
  <span>{{ portfolio.name }}</span>
  }

  <div class="more-icon">
    <span class="material-symbols-outlined" (click)="toggleOptions($event)">
      more_horiz
    </span>

    @if (optionsVisible()) {
    <div class="options-menu show">
      <div class="option" (click)="startEditing($event)">Rename</div>
      <div class="option" (click)="delete($event)">Delete</div>
    </div>
    }
  </div>
</div>
